.box{
    height: 700px;
}
.menu{
    background-color: #420065;
    color: #ffffff;
}
.about{
    background-color: black;
    color: #ffffff;
}
.artistas{
    background-color: #000000;
    color: #ffffff;
}
.temas{
    background-color: #fdd78d;
}
.servicios{
    background-color:#420065;
    color: #ffffff;
}
.contact{
    background-color: #000000;
}
.footer{
    background-color: #420065;
    color: #ffffff;
}
.cabina{
    max-height: 120px;
}
.mySlides{
    margin: auto;
}
.servicios img{
    width: auto;
    height: 145px;
}
.servicios h3{
    padding: auto;
    margin: auto;
}
.servicios--card{
    display: inline-flex;
    margin: 5px auto ;
}